html {
  box-sizing: border-box;
  background: url("https://unsplash.it/1500/1500/?random") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  padding: 20px;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.list label {
  flex: 1;
  cursor: pointer;
}

.list input {
  display: none;
}

.list input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.list input:checked + label:before {
  content: "✔️";
}

.list input:checked + label {
  opacity: 0.5;
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
